<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registeration form</title>
</head>
<body>
    <!--<center>
        <form name="register" method="post" action="insertuser">
            {% csrf_token %}
            <pre>
                UID   :<input type="text" name="tuid" value="" width="200"><br>
                Name  :<input type="text" name="tname" value="" width="200"><br>
                Email :<input type="text" name="tmail" value="" width="200"><br>
                contact:<input type="text" name="tcontact" value="" width="200"><br>
                <input type="submit" name="reg" value="click on register" width="300" height="100">
            </pre>

        </form>
    </center>-->
    <h1>This is for practice</h1>
</body>
</html>